.gridMainConatiner {
    padding: 16px;
}
.greetingCard {
    background-color: #003456;
    height: 98vh;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    border-radius: 16px;
}

.orgTitle {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #ffffff;
    font-size: 64px;
    font-weight: 700;
    line-height: 96px;
    display: flex;
    align-items: center;
    width: 70%;
    /* border: 1px solid #000; */
    height: 30%;
    padding-top: 10%;
    padding-left: 32px;
}

.discriptionBlock {
    /* border: 2px solid #000; */
    width: 78%;
    height: 20%;
    padding-left: 32px;
}

.orgDescription {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    line-height: 28px;
    min-height: 1px;
}

.bgClipArt {
    max-width: 70%;
    height: auto;
    float: right;
    margin-right: 15%;
    margin-top: -40px;
}

.loginGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginDisplayBox {
    width: 80%;
    height: 75%;
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.loginFormTitle {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 50px;
    width: 96%;
    /* border: 1px solid #000; */
    color: #000;
    text-align: center;
}

.loginFormBox {
    border: 1px solid #565555;
    width: 80%;
    height: 50%;
    padding: 48px;
}

.loginTitleLogoBox {
    display: flex;
    height: 25%;
    /* border: 1px solid #000; */
}
.portalLoginBox {
    display: flex;
    width: 50%;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
    /* border: 1px solid #000; */
    align-items: center;
}

.kmaLogoBox {
    width: 50%;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: right;
}

.kmaLogoBox img {
    width: 30%;
}

.loginFormGroupBox {
    margin-top: 0px;
    height: 70%;
    width: 100%;
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.loginFormGroupBox input {
    border: 1px solid #565555;
}

.loginFormGroupBox button {
    width: 20%;
}
